# Packet capture
scapy
pyshark

# Data processing
pandas
numpy

# Machine learning
scikit-learn
tensorflow
keras
joblib
imbalanced-learn

# Visualization & dashboardB
streamlit
plotly
matplotlib
seaborn

# Utilities
pyyaml
loguru
python-dotenv
tqdm
colorama
python3.10 --version
